/* 
*   password123.css
*   Author: Tim Willison
*   6/3/10
*/

/* { border: 1px solid red; }

/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: 0 none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: 0; }
/*{ behavior: url(/exceed/css/iepngfix.htc); }*/

/* TYPE */
body { background-color: #333; font-family: Courier, sans-serif, Helvetica; color: #ddd; font-size: 12px; }
body.center { text-align: center; }
body.center img { margin: 10px; }
div.hr { height: 2px; color: rgb(236, 230, 208); background: rgb(236, 230, 208) scroll center; }
div.hr hr { display: none; }
a { color: rgb(200, 200, 100); text-decoration: none; padding-bottom: 0.5px; }
a:hover { text-decoration: none; border-bottom: 1px solid rgb(200, 200, 100); }
input.text { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 3px; width: 150px; text-align: right;}

/* HEADER */
header { left: 0; padding: 5px; float: left; margin-bottom: 10px; }
header hgroup h1 { font-size: 15px; }
header hgroup h2 { font-size: 13px; }

/* NAV */
nav { float: right; padding: 5px 10px 0 0; text-align: right; line-height: 16px; }

/* CONTENT */
#content { position: relative; width: 100%; float: right; }
#content section { clear: both; position: absolute; margin: 100px auto 0; left: 0; right: 0; width: 495px; }
#content section label { font-family: "Gill Sans", "Trebuchet MS", Calibri, sans-serif; font-size: 30px; display: inline-block; height: 23px; float: left; margin: -4px 10px 0px 0; }
#content section input { width: 240px; padding: 5px; letter-spacing: 3px; }
#content section #send { width: 60px; height: 0; padding-top: 19px; overflow: hidden; background: url(send.png) no-repeat 0 0; top: 2px; right: -4px; position: absolute; }
@-moz-document url-prefix() {
  html #content section #send { top: 4px; right: -1px; }
}
#content section #send:hover { background-position: 0 -25px; }
#content section #show-value { font-family: "Gill Sans", "Trebuchet MS", Calibri, sans-serif; font-size: 30px; margin: 30px 0 0 44px; width: 600px; }

/* FOOTER */
footer { width: 100%; position: absolute; left: 0; bottom: 0; height: 15px; font-size: 11px; text-align: right; }
footer div { padding-right: 10px; }